{% extends "!footer.html" %}
{% block extrafooter %}
Most of the work was tested on <a href="https://m.do.co/c/1c4dfe6c8b98">DigitalOcean</a>. Register
using <a href="https://m.do.co/c/1c4dfe6c8b98">this link</a> to support the Blober project!
{% endblock %}
